.button {
  padding: 12px 24px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
@media (min-width: 920px) {
  .button:hover {
    background-color: #d5c8fb;
    color: #000;
  }
}
